.wrap {
  display: inline-block;
  position: absolute;
  top: 0;
  width: calc(100% - 347px);
}

.header {
  width: 100%;
}

.title {
  font-size: 18px;
  color: rgba(0,0,0,0.64);
  letter-spacing: 0.1px;
  text-align: left;
  display: inline-block;
  margin: 31px 28px 0;
}

.button {
  border: 1px solid #f6cf31;
  border-radius: 33px;
  padding: 3px 15px;
  font-size: 14px;
  float: right;
  display: inline-block;
  margin: 27px 27px 0;
}

.create {
  background: #f6cf31;
  color: white;
}