.wrap {
  display: block;
  width: 100%;
  list-style-type: none;
  margin-top: 41px;
  padding: 0;
}

.item {
  display: block;
  width: 100%;
  padding: 0px 27px 25px;
}

.info {
  display: inline-block;
}

.desc {
  font-size:14px;
  color:rgba(0,0,0,0.87);
  letter-spacing:0.07px;
  text-align:left;
}

.name {
  background:rgba(0,0,0,0.25);
  border-radius:5px;
  font-size:14px;
  color:#ffffff;
  letter-spacing:0.07px;
  text-align:center;
  padding: 2px 10px;
}

.buttons {
  display: inline-block;
  float: right;
  vertical-align: top;
}

.link {
  margin-left: 14px;
}

