$light-theme-bg-color: #A9C2B0;

$welcome-background-color: #b9c6ca;
$projects-background-color: #9bd8b4;
$about-background-color: #98C37E;
$contact-background-color: #e9eef3;
$primary: 'Roboto', sans-serif;
