.wrap {
  display: inline-block;
  height: 100vh;
  width: calc(100% - 200px);
  position: absolute;
  top: 0;
}

.calendar {
  width: 347px;
  display: inline-block;
  height: 100vh;
  padding: 28px 30px 30px;
  border-right: 2px solid rgba(0,0,0,0.10);
}

.header {
  width: 100%;
  background: transparent;
  height: 34px;
  text-align: center;
}

.label {
  opacity: 0.69;
  font-size: 14px;
  width: 70px;
  display: inline-block;
  color: #000000;
  letter-spacing: 0.07px;
  text-align: left;
  text-transform: uppercase;
}

.arrow {
  margin: 0 30px;
}

.next {
  transform: rotate(180deg);
}

.week {
  width: 100%;
}

.names {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 15px;
}

.dayName {
  opacity: 0.64;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0.06px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 10.2px;
  &:first-child {
    margin-left: 0;
    margin-right: 10px;
  }
  &:last-child{
    margin-right: 0;
    margin-left: 11px;
  }
}

.day {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.07px;
  text-align: center;
  margin: 12px 9.5px 4px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  opacity: 0.87;
  cursor: pointer;
  &:first-child {
    margin-left: 2px;
    margin-right: 10px;
  }
  &:last-child {
    margin-right: 0;
    margin-left: 10px;
  }
}

.today {
  background: #f6cf31;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.selected {
  background: rgba(0,0,0,0.12);
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.diffMonth {
  opacity: 0.3;
}

.link {
  width: 100%;
  height: 100%;
  color: #000000;
  &:hover {
    color: #000000;
  }
}

.dot {
  opacity: 0;
  background: #00b43a;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  display: block;
  margin: 2px auto 0;
}

.excist {
  opacity: 0.7;
}