.wrap {
  width: 200px;
  height: 100vh;
  display: inline-block;
  background: #45496b;
  margin: 0;
  padding: 0;
}

.avatar {
  border: 1px solid #595d83;
  width: 71px;
  height: 71px;
  border-radius: 100%;
  display: block;
  margin: 20px auto 0;
}

.image {
  width: 65px;
  height: 65px;
  margin: 2px;
}

.buttons {
  width: 83px;
  margin: 11px 59px;
}

.button {
  display: inline-block;
  background: #595d83;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  text-align: center;
}

.logout {
  float: right;
}

.menu {
  width: 100%;
  list-style-type: none;
  margin-top: 39px;
  padding: 0;
}

.item {
  width: 100%;
  height: 47px;
  box-sizing: border-box;
}

.link {
  font-size: 14px;
  width: 100%;
  display: block;
  line-height: 46px;
  color: #ffffff;
  letter-spacing: 0.07px;
  text-align: left;
  opacity: 0.5;
  &:hover, &:visited, &:active {
    background: rgba(255,255,255,0.15);
    -webkit-box-shadow:inset 3px 0px 0px 0px #f6cf31;
    -moz-box-shadow:inset 3px 0px 0px 0px #f6cf31;
    box-shadow:inset 3px 0px 0px 0px #f6cf31;
    opacity: 1;
    color: #ffffff;
  }
}

.active {
  background: rgba(255,255,255,0.15);
  -webkit-box-shadow:inset 3px 0px 0px 0px #f6cf31;
  -moz-box-shadow:inset 3px 0px 0px 0px #f6cf31;
  box-shadow:inset 3px 0px 0px 0px #f6cf31;
  opacity: 1;
  color: #ffffff;
}

.logos {
  margin: 0 20px 0 25px;
}

.count {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.07px;
  margin-right: 25px;
}




