.wrap {
  display: inline-block;
  background: white;
  width: 100%;
  transition: all .25s ease-in-out;
}

.header {
  width: 100%;
}

.title {
  font-size: 18px;
  color: rgba(0,0,0,0.64);
  letter-spacing: 0.1px;
  text-align: left;
  display: inline-block;
  margin: 28px 28px 0;
}

.close {
  float: right;
  display: inline-block;
  margin: 32px 37px 0;
}

.layout {
  width: 100%;
  margin: 40px 31px;
}

.form {
  width: 100%;
}

.line {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.label {
  font-size: 12px;
  color: rgba(0,0,0,0.50);
  letter-spacing: 0.06px;
  text-align: left;
  display: block;
  margin-bottom: 7px;
}

.input {
  display: block;
  resize: none;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  padding: 2px 10px;
  width: 198px;
}

.message {
  display: block;
  resize: none;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  padding: 2px 10px;
  width: 388px;
  height: 60px;
}

.error {
  border: 1px solid rgba(255,0,0,0.70);
}

.errorMessage {
  font-size: 12px;
  color: rgba(255,0,0,0.70);
  letter-spacing: 0.06px;
  text-align: left;
}

.buttons {
  display: block;
  width: 100%;
  text-align: right;
  padding: 10px 67px;
}

.button {
  border: 1px solid #f6cf31;
  border-radius: 33px;
  padding: 3px 15px;
  font-size: 14px;
  margin-left: 10px;
}

.cancel {
  background: transparent;
  color: #f6cf31;
}

.save {
  background: #f6cf31;
  color: white;
}